@media (max-width: 992px) {
    body {
        background: var(--violet) url('../img/bg-mobile.svg') no-repeat center top;
        background-size: contain;
        margin: 0 8rem;
    }

    .header {
        text-align: center;
    }

    .main {
        flex-direction: column;
        justify-content: center;
    }

    .main__content {
        width: auto;
        text-align: center;
        margin: 0;
    }

    .content__p {
        font-size: 2rem;
    }

    .footer {
        justify-content: center;
        gap: 3.2rem;
    }
}

@media (max-width: 576px) {
    body {
        margin: 0 6rem;
        padding: 4rem 0 6rem;
    }

    .header {
        width: 16rem;
        text-align: left;
    }

    .content__title {
        text-align: center;
        font-size: calc(2.4rem + 1vw);
    }

    .content__p {
        font-size: 1.8rem;
        line-height: 3.2rem;
    }

    .content__button {
        width: 32rem;
        height: 5.4rem;
        margin-bottom: 4.8rem;
    }
}