*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background-color: #553f8f;
}

*::-webkit-scrollbar-thumb {
    background: #cecece;
    border-radius: 8px;
}