/* FONTS - GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/* VARIABLES */
:root {
    --text: #ffffff;
    --button: #ffffff;
    
    --violet: #674baf;

    --hover: #e882e8;
}