body {
    background: var(--violet) url('../img/bg-desktop.svg') no-repeat top;
    background-size: cover;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
    margin: 0 15rem;
    padding: 8rem 0;
}

.main {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
}

.main img {
    width: calc(100rem + 1vw);
    object-fit: contain
}

.main__content {
    width: 80rem;
    margin: 5rem 0 0;
    color: var(--white);
}

.content__title {
    font-family: 'Poppins', sans-serif;
    font-size: 4.8rem;
    margin-bottom: 2.4rem;
}

.content__p {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.2rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 3.8rem;
    margin-bottom: 3.2rem;
}

.content__button {
    width: 24rem;
    height: 6.4rem;
    border: none;
    border-radius: 32rem;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: var(--violet);
    box-shadow: 0 8px 15px rgba(0, 0, 0, .25);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.content__button:hover {
    background-color: var(--hover);
    color: var(--white);
}

.footer {
    display: flex;
    justify-content: end;
    gap: 1.6rem;
    bottom: 0;
}

.footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    height: 4.5rem;
    font-size: 2rem;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.footer a:hover {
    color: var(--hover);
    border-color: var(--hover);
}

/* RESPONSIVE */
@media (max-width: 992px) {
    body {
        background: var(--violet) url('../img/bg-mobile.svg') no-repeat center top;
        background-size: contain;
        margin: 0 8rem;
    }

    .header {
        text-align: center;
    }

    .main {
        flex-direction: column;
        justify-content: center;
    }

    .main__content {
        width: auto;
        text-align: center;
        margin: 0;
    }

    .content__p {
        font-size: 2rem;
    }

    .footer {
        justify-content: center;
        gap: 3.2rem;
    }
}