body {
    background: var(--violet) url('../img/bg-desktop.svg') no-repeat top;
    background-size: cover;
    height: 100vh;
    margin: auto 3rem;
}

.all {
    max-width: 1440px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 5rem;
}

.header {
    width: 100%;
    height: auto;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
}

.main img {
    width: 50%;
    object-fit: contain
}

.main__content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    color: var(--white);
}

.content__title {
    font-family: 'Poppins', sans-serif;
    font-size: calc(250% + 1vw);
}

.content__p {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.2rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 3.8rem;
}

.content__button {
    width: 24rem;
    height: 6.4rem;
    border: none;
    border-radius: 32rem;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: var(--violet);
    box-shadow: 0 8px 15px rgba(0, 0, 0, .25);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.content__button:hover {
    background-color: var(--hover);
    color: var(--white);
}

.footer {
    display: flex;
    justify-content: end;
    gap: 1.6rem;
    bottom: 0;
}

.footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.footer a:hover {
    color: var(--hover);
    border-color: var(--hover);
}